#logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo a{
    height: 70px;
    width: 200px;
    background-color: black;
    text-align: center;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
#logo a h1{
    color: #137694;
}

#logo a h1 span{
    color: #24b124;
}
