.about-main-content-articles{
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}

.about-main-content-articles .about-main-content-articles-top h2{
    font-size: 37px;
    color: var(--button-text);
}

.about-main-content-articles .about-main-content-articles-top p{
    color: var(--light-gray);
}

.about-main-content-articles .about-main-content-articles-center ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
    justify-content: center;
}

.about-main-content-articles .about-main-content-articles-center ul li{
    padding: 25px 20px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-main-content-articles .about-main-content-articles-center ul li a{
    text-decoration: none;
}

.about-main-content-articles .about-main-content-articles-center ul li a img{
    height: 300px;
    width: 100%;
    background-color: var(--color-bisque);
    transition: all 0.3s ease-in-out;
}

.about-main-content-articles .about-main-content-articles-center ul li a img:hover{
    transform: scale(1.03);
}

.about-main-content-articles .about-main-content-articles-center ul li .notice {
    display: flex;
    gap: 20px;
    align-items: center;
}

.about-main-content-articles .about-main-content-articles-center ul li .notice p:first-child{
    background-color: var(--background-color3);
    padding: 4px 13px;
    border-radius: 15px;
    color: var(--color-bisque);
}

.about-main-content-articles .about-main-content-articles-center ul li .notice p:last-child{
    color: var(--color-bisque);
}

.about-main-content-articles .about-main-content-articles-center ul li h3{
    color: var(--button-text);
}

.about-main-content-articles .about-main-content-articles-center ul li .desc{
    color: var(--light-gray);
    margin-top: -5px;
}

.about-main-content-articles .about-main-content-articles-center ul li .open-blog{
    margin-top: 20px;
    text-decoration: none;
    color: var(--color-gold1);
    border: 1px solid var(--button-tertiary-background);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: var(--background-color1);
}
.about-main-content-articles .about-main-content-articles-bottom {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.about-main-content-articles .about-main-content-articles-bottom a{
    background-color: var(--color-bisque);
    text-decoration: none;
    padding: 7px 15px;
    color: var(--background-color11);
}

@media only screen and (max-width:1000px) {
    .about-main-content-articles .about-main-content-articles-center ul li{
        padding: 20px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
}

@media only screen and (max-width:600px) {
    .about-main-content-articles .about-main-content-articles-center ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 20px;
        justify-content: center;
        margin-left: -30px;
    }
    .about-main-content-articles .about-main-content-articles-center ul li{
        padding: 15px;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .about-main-content-articles .about-main-content-articles-center ul li a img{
        height: 280px;
        width: 100%;
        background-color: var(--color-bisque);
        transition: all 0.3s ease-in-out;
    }
}

@media only screen and (max-width:320px) {
    .about-main-content-articles .about-main-content-articles-center ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 20px;
        justify-content: center;
        margin-left: -40px;
    }
    .about-main-content-articles .about-main-content-articles-center ul li{
        padding: 15px;
        width: 280px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .about-main-content-articles .about-main-content-articles-center ul li a img{
        height: 270px;
        width: 100%;
        background-color: var(--color-bisque);
        transition: all 0.3s ease-in-out;
    }
}