.about-main-content-revolt{
    display: flex;
    flex-direction: column;
    padding: 25px 20px;
}

.about-main-content-revolt .about-main-content--revolt-top{
    display: flex;
    gap: 20px;
}

.about-main-content-revolt .about-main-content--revolt-top .about-main-content--revolt-top-left{
    flex: 1;
}

.about-main-content-revolt .about-main-content--revolt-top .about-main-content--revolt-top-left h2{
    font-size: 37px;
    color: var(--button-text);
}

.about-main-content-revolt .about-main-content--revolt-top .about-main-content--revolt-top-right{
    flex: 1;
}

.about-main-content-revolt .about-main-content--revolt-top .about-main-content--revolt-top-right p{
    color: var(--light-gray);
}

.about-main-content-revolt .about-main-content--revolt-center ul{
    list-style: none;
    margin-left: -40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 20px;
}

.about-main-content-revolt .about-main-content--revolt-center ul li{
    width: 350px;
    padding: 25px 20px;
}

.about-main-content-revolt .about-main-content--revolt-center ul li img{
    height: 250px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.about-main-content-revolt .about-main-content--revolt-center ul li img:hover{
    transform: scale(1.03);
}

.about-main-content-revolt .about-main-content--revolt-center ul li h3{
    color:var(--button-text);
    font-size: larger;
}

.about-main-content-revolt .about-main-content--revolt-center ul li p{
    padding: 10px 10px 0px 0px;
    color: var(--color-bisque);
}

.about-main-content-revolt .about-main-content--revolt-bottom{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.about-main-content-revolt .about-main-content--revolt-bottom a{
    color: var(--button-text);
    text-decoration: none;
    padding: 7px 15px;
}

.about-main-content-revolt .about-main-content--revolt-bottom a:nth-child(1){
    background-color: var(--button-tertiary-background);
}

.about-main-content-revolt .about-main-content--revolt-bottom a:nth-child(2){
    background-color: var(--background-color1);
    border: 1px solid var(--button-tertiary-background);
    display: flex;
    align-items: center;
    gap: 5px;
}

@media only screen and (max-width:1000px) {
    .about-main-content-revolt .about-main-content--revolt-top{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .about-main-content-revolt .about-main-content--revolt-top .about-main-content--revolt-top-left h2{
        font-size: 34px;
        color: var(--button-text);
    }
    .about-main-content-revolt .about-main-content--revolt-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
    }
    .about-main-content-revolt .about-main-content--revolt-center ul li{
        width: 300px;
        padding: 20px 15px;
    }
    .about-main-content-revolt .about-main-content--revolt-center ul li img{
        height: 250px;
        width: 100%;
    }
}

@media only screen and (max-width:600px) {
    .about-main-content-revolt .about-main-content--revolt-top{
        display: flex;
        gap: 20px;
        flex-direction: column;
    }
    .about-main-content-revolt .about-main-content--revolt-top .about-main-content--revolt-top-left h2{
        font-size: 30px;
        color: var(--button-text);
    }
    .about-main-content-revolt .about-main-content--revolt-bottom{
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 50px;
        margin-top: 30px;
    }
    .about-main-content-revolt .about-main-content--revolt-center ul li{
        width: 300px;
        padding: 15px 10px;
    }
    .about-main-content-revolt .about-main-content--revolt-center ul li img{
        height: 250px;
        width: 100%;
    }
}