#social-account-aside{
    position: fixed;
    bottom: 50%;
    right: 0;
}

#social-account-aside ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
    margin-right: 20px;
}

#social-account-aside ul li{
    padding: 15px;
    border-radius: 50%;
    cursor: pointer;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#social-account-aside ul li a{
    font-size: 30px;
    cursor: pointer;
}


@media only screen and (max-width:600px) {
    #social-account-aside ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        margin-right: 20px;
    }
    
    #social-account-aside ul li{
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
        height: 27px;
        width: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #social-account-aside ul li a{
        font-size: 24px;
        cursor: pointer;
    }
}
@media only screen and (max-width:1470px) {
    #social-account-aside ul{
        display: flex;
        flex-direction: column;
        gap: 10px;
        list-style: none;
        margin-right: 20px;
    }
    
    #social-account-aside ul li{
        padding: 15px;
        border-radius: 50%;
        cursor: pointer;
        height: 27px;
        width: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #social-account-aside ul li a{
        font-size: 27px;
        cursor: pointer;
    }
}

#social-account-aside ul li:nth-child(1){
    background-color: var(--background-green);
}

#social-account-aside ul li:nth-child(1) a{
    color: var(--color-green);
}
#social-account-aside ul li:nth-child(2){
    background-color: var(--background-purple);
}

#social-account-aside ul li:nth-child(2) a{
    color: var(--color-purple);
}
#social-account-aside ul li:nth-child(3){
    background-color: var(--background-blue);
}

#social-account-aside ul li:nth-child(3) a{
    color: var(--color-blue);
}
#social-account-aside ul li:nth-child(4){
    background-color: var(--background-red);
}

#social-account-aside ul li:nth-child(4) a{
    color: var(--color-red);
}
