.home-container-content-join{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 25px;
}

.home-container-content-join h2{
    color: var(--text-dark);
    font-size: 37px;
}

.home-container-content-join p{
    color: var(--light-gray);
}

.home-container-content-join .joining-links{
    display: flex;
    gap: 100px;
    margin-top: 30px;
}

.home-container-content-join .joining-links a:nth-child(1){
    border: 1px solid var(--color-green);
    text-decoration: none;
    color: var(--button-text);
    padding: 7px 15px;
    background-color: var(--background-color1);
}

.home-container-content-join .joining-links a:nth-child(2){
    border: none;
    text-decoration: none;
    color: var(--button-text);
    padding: 7px 15px;
    background-color: var(--color-green);
}

@media only screen and (max-width: 600px) {
    .home-container-content-join{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 15px;
    }
}